/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    /* font-family: 'Raleway', sans-serif; */
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    max-width: 100%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbbbbb;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bbbbbb;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #bbbbbb;
}

* {
    position: relative;
    box-sizing: border-box;
    outline: none;
}

*:focus {
    outline: none !important;
}

body {
    text-align: right;
    color: #252525;
    font-size: 14px;
    overflow-x: hidden;
    background-image: linear-gradient(80deg, #A7C7E7, #80a6cb)
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}


select {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==);
    padding-left: 30px;
    background-position: left 10px top 50%;
    background-size: auto 25px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.mobile-wrapper::-webkit-scrollbar-track {
    background-color: #f5f5f540
}

.mobile-wrapper::-webkit-scrollbar {
    background-color: #5482ae66;
    width: 4px
}

.mobile-wrapper::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #5482ae;

}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #2c676b;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box {
    padding: 4px;
    margin: 10px 0;
    box-shadow: 5px 5px 5px #a3a3a3;
    border-radius: 7px;
    border: dashed 3px #071c2c;
    transform: rotate(-2deg);
    background: #ebfffe;
}

.box .row>div:nth-of-type(1) {
    transform: rotate(3deg) scale(1.16) translateY(-5px);
}

.box .row>div:nth-of-type(2) {
    transform: rotate(2deg) scale(1.15);
}

.box .btn {
    width: 100%;
    margin-top: 5px;
    background: #ffdb00;
    border: solid 5px #071c2c;
    border-radius: 15px;
    font-weight: 700;
}

.box .btn.btn-soft {
    background: #58ced6;
}

.box .btn:hover {

    background: #d2b400;
    border: solid 5px #071c2c;
}

.box .btn.btn-soft:hover {

    background: #2bbbc3;
    border: solid 5px #071c2c;
}

.box .btn.disabled {
    opacity: .2
}

@keyframes shake {
    0% {
        transform: translateY(0) translateX(0) rotate(0);
    }

    25% {
        transform: translateY(5px) translateX(-1px) rotate(-2deg);
    }

    50% {
        transform: translateY(1px) translateX(1px) rotate(2deg);
    }

    75% {
        transform: translateY(-5px) translateX(-1px) rotate(-2deg);
    }

    100% {
        transform: translateY(0) translateX(0) rotate(0);
    }
}

.shake-item {
    animation: shake 0.7s ease-in-out infinite;
}

.shake-item.faster {
    animation: shake 0.5s ease-in-out infinite;
}

.shake-item:hover {
    animation: shake 0.2s ease-in-out infinite;
}

.box-7-text {
    font-size: 2em;
    font-weight: bold;
    transform: rotate(-4deg) scale(1.15) !important;
    line-height: 1em;
    color: #ffdb00;
    text-shadow: 2px 2px BLACK, -2px -2px #797979;
    z-index: 1;
}

.box-7-text>span {
    background: #0052988a
}

@media screen and (max-width: 584px) {
    .mobile-wrapper {
        max-width: 100%;
    }
}

.dictionary-help {
    margin-bottom: 10px;
    font-size: 0.9em;
}

.dictionary-help .dic-help {
    color: black;
    margin-bottom: 5px
}

.dictionary-help .dic-help:before {
    content: '🔴';
}

.just-disabled {
    pointer-events: none;
}

.selection-bar-toggler {
    position: fixed !important;
    backdrop-filter: blur(2px);
    background: #2a5c82a1;
    color: white !important;
    border-radius: 50%;
    padding: 5px !important;
    font-size: 36px !important;
    cursor: pointer;
    z-index: 999999999;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.selection-bar {
    width: 448px !important;
    left: 50%;
    transform: translate(-50%, -110%);
    z-index: 999999999;
    position: fixed;
    top: 0;
    background: #ffffff;
    min-height: 150px;
    box-shadow: 0 5px 12px #00000075;
    transition: .3s ease-in-out;
    padding-bottom: 50px !important;
    padding-top: 40px !important;
    max-height: 80%;
    overflow: auto;
    user-select: none;
}

.selection-bar.show {
    transform: translate(-50%, 0);
}

.selection-bar.semi-show {
    transform: translate(-50%, calc(-100% + 50px));
}
.suggest-notify{
    background:#3f708ae0;
    border-radius:15px!important;
    width: 380px;
    padding: 15px;
    color: white;
    position: fixed;
    bottom:-100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    padding-right: 30px;
    transition:.5s cubic-bezier(0.72, -1, 0.28, 1)
}
.suggest-notify.show-notify{
    bottom:25px;
    
}
.suggest-close{
    background:#3f708ae0;
    width: 20px!important;
    padding: 15px;
    color: white;
    position: absolute!important;
    top:0;
    right: 0;
    height: 100%!important;
    font-size: 20px!important;
    cursor: pointer;
}
